body{
    height: 100%;
    width: 100%;
}

h1{
    margin-block-end: 0pt;
    text-align: center;
}

.cabecalho{
    color: white;
    background-color: tomato;
    grid-area: cabecalho;
    padding-left: 10px;
}

.navbar{
    display: flex;
    background-color: black;
    grid-area: menu;
    padding-left: 10px;
    margin-bottom: 5px;
    justify-content: space-around;
}

.navbaritem{
    background-color: tomato;
    color: white;
    margin-right: 10px;
    padding: 5px;
}

.conteudo{
    background-color: tomato;
    grid-area: central;
}

.conteudoitem{
    background-color: black;
    color: white;
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 5px;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 5% auto;
    grid-template-areas: 
    "cabecalho cabecalho cabecalho"
    "menu menu menu"
    "esquerda central direita";
    height: 100%;
}

.lateralEsquerda {
    background-color: lightgray;
    grid-area: esquerda;
}

.lateralDireita {
    background-color: lightgray;
    grid-area: direita;
}